/* Základní styly */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}


.container {

  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}


#searchButton {
  background-color: #000000;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 15px; /* Zaoblené rohy tlačítka */
  margin-left: 10px;
}
/* Styl pro <p> element */
p {
  font-size: 16px;
  color: #ffffff; /* Barva textu (černá) */
}

/* Styl pro odkaz <a> uvnitř <p> elementu */
p a {
  text-decoration: none; /* Odkazy bez podtržení */
  color: #000000; /* Barva odkazu (modrá) */
  font-weight: bold; /* Tučné písmo pro odkaz */
  transition: color 0.3s, font-size 0.3s; /* Animace pro změnu barvy textu a velikosti písma */
}

/* Styl pro odkaz <a> po najetí myší */
p a:hover {
  color: orange; /* Změna barvy na oranžovou */
  font-size: 18px; /* Zvýšení velikosti písma na 18px */
}





/* Denní režim */
body:not(.night-mode) .card {
  background-color: black; /* Bílé pozadí pro karty pouze v denním režimu */
}

/* Noční režim */
.night-mode .body {
  margin: 1em;
  background-color: rgb(0, 0, 0); /* Černé pozadí v nočním režimu */
  color: black; /* Bílá barva textu v nočním režimu */
}

/* Barva pozadí pro nadpisy karet v nočním režimu */
@media (prefers-color-scheme: dark) {
  .card-header {
    background-color: #000000; /* Barva pozadí pro nadpisy karet v nočním režimu */
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: white;
  }
  .card-header {
    background-color: #000000;
  }
  body:not(.night-mode) .card {
    background-color: #fff; /* Bílé pozadí pro karty pouze v denním režimu */
  }
  /* Styly pro černé pozadí .card-body v nočním režimu */
  body.night-mode .card-body {
    background-color: #000000; 
    /* Černé pozadí pro .card-body v nočním režimu */
  }
  .jumbotron {
    background-color: #000000;
  }
  .list-group-item {
    background-color: #000000;
    border-color: #000000;
  }
  html.can-touch .link-item:hover {
    /* disable hover effect when input is touch */
    background-color: #000000;
  }
  html.can-touch .link-item:active {
    /* disable hover effect when input is touch */
    background-color: #000000;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.custom-logo {
  width: 200px; /* změňte na požadovanou šířku */
  height: auto; /* zachovává poměr stran pro zachování kvality */
  position: absolute; /* Použijte absolutní pozici pro přesné umístění */
  top: -10px; /* Vzdálenost od horního okraje stránky (upravte podle potřeby) */
  left: -20px; /* Vzdálenost od levého okraje stránky (upravte podle potřeby) */
}


/* Nové styly */
.header {
  background-image: linear-gradient(to right, #667eea, #764ba2);
  transition: background-color 0.3s ease;
}

.header:hover {
  background-color: #ff9900;
}


.social-icon {
  margin-right: 10px;
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #ff9900;
}

body:not(.night-mode) .card {
  background-color: #000000; /* Bílé pozadí pro karty pouze v denním režimu */
}

.custom-btn {
  background-image: linear-gradient(to right, #667eea, #764ba2);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-decoration: none; /* Odstraní podtržení textu */
  align-items: center;
  padding: 10px;



}

.custom-btn:hover {
  background-image: linear-gradient(to right, #667eea, #764ba2);
  color: black;
  text-decoration: none; /* Odstraní podtržení textu */
  align-items: center;
  padding: 10px;


}

/* Styly pro černé pozadí .card-body v nočním režimu */
body.night-mode .card-body {
  background-color: #fff; /* Černé pozadí pro .card-body v nočním režimu */
}

div .card{

  width: 200px; /* Nastavte požadovanou maximální šířku */
  margin: 0 auto; /* Zarovná tělo do středu karty */
}
.card-title {
  margin: 5px;       

}
.card {

  transition: transform 0.3s ease;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  margin-bottom: 20px; /* Přidá mezeru mezi kartami */
}

.card:hover {
  transform: scale(1.05);
}

.card .card-title {
  color: #764ba2;
}

.tabs a {
  margin-right: 50px; /* Přidá větší mezeru mezi jednotlivými tlačíky */
}

.tabs {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.tab {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #ddd;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #aaa;
}

.night-mode {
  background-color: #F8F8FF; /* Nastavte vhodnou barvu pozadí pro režim noci */
  color: #000000; /* Nastavte barvu textu pro režim noci */
  /* Zde můžete definovat další styly specifické pro režim noci */
}

.nightModeButton {
  margin-right: 20px; /* Změňte tuto hodnotu podle vašich potřeb */
}
div.col-md-4  { 

  margin-bottom: 20px;
}
.row {
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tři sloupce se stejnou šířkou */
  gap: 20px; /* Mezera mezi kartami */
  justify-items: center; /* Zarovná kartu na střed v rámci sloupce */
}

/* Media query pro menší šířku okna */
@media (max-width: 710px) {
  /* Změna uspořádání karet na jeden a půl sloupce */
  .row {
    grid-template-columns: repeat(1, 1fr); /* Jeden a půl sloupce */
  }
    /* Skrytí logo */
    .custom-logo {
      display: none;
    }
  /* Další styly pro karty v režimu s jedním a půl sloupce */
  .card {
    margin-bottom: 10px;
    width: calc(50% - 10px); /* Karta bude zabírat polovinu šířky s mezerou mezi nimi */
  }
}

h2 {
  margin: 10px;
}
h5 {
  font-size: 20px;
}
.button-odkazy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin-top: 20px; /* Posune obsah dolů o 20px */
  margin-left: 20px;
}

.button-odkazy a,
.button-odkazy button {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  background: none; /* Odstranění pozadí */
  border: none; /* Odstranění rámečku */
  padding: 0; /* Odstranění vnitřního odsazení */
  outline: none; /* Odstranění modrého pozadí po stisknutí */
}

.button-odkazy a:hover,
.button-odkazy button:hover {
  background: none; /* Odstranění pozadí */
  color: #ffffff;
}


