/* Základní styly */
body {
  background-color: black;
  color: white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.button-container a,
.button-container button {
  margin-left: 20px;
  text-decoration: none;
  color: black; /*  barva textu v nabídce */
  transition: color 0.3s;
  background: none !important;
  border: none !important;
  padding: 0 !important;
}
.button-container a:hover,
.button-container button:hover {
  color: white;
}

.header {
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
  transition: background-color 0.3s ease;
}
.social-icon {
  font-size: 18px;
  color: #ff9900;
  transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
  color: white;
  transform: scale(1.2); /* Zvětší ikonu na 120% normální velikosti */
}
.body {
  margin-bottom: 1em;
}

.thumbnail {
  margin-bottom: 2em;
}

.list-group {
  margin-bottom: 2em;
}

.disable-hover {
  pointer-events: none;
}

.link-item {
  list-style-type: none;
  padding: 17px 15px;
  display: block;
  color: #4f89bb !important;
  text-align: left;
}

.link-item:hover {
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}

.logo-container {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

html.can-touch .link-item:hover {
  /* disable hover effect when input is touch */
  background-color: #fff;
}

html.can-touch .link-item:active {
  /* disable hover effect when input is touch */
  background-color: #f5f5f5;
}

.fa {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 10px;
}

/* Denní režim */
body:not(.night-mode) .card {
  background-color: black; /*  pozadí pro karty pouze v denním režimu */
  color: white; /*  barva textu v nočním režimu */
  margin: 1em;
}

/* Noční režim */
.night-mode .body {
  margin: 1em;
  background-color: white; /* pozadí v nočním režimu */
  color: black; /* barva textu v nočním režimu */
}

/* Barva pozadí pro nadpisy karet v nočním režimu */
@media (prefers-color-scheme: dark) {
  .card-header {
    background-color: #29d145; /*  pozadí pro nadpisy karet v nočním režimu */
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f1f1f;
    color: white;
  }

  .card-header {
    background-color: #2f2f2f;
  }

  body:not(.night-mode) .card {
    background-color: #fff; /* Bílé pozadí pro karty pouze v denním režimu */
  }

  /* Styly pro černé pozadí .card-body v nočním režimu */
  body.night-mode .card-body {
    background-color: #1f1f1f; /* Černé pozadí pro .card-body v nočním režimu */
  }

  .jumbotron {
    background-color: #2f2f2f;
  }

  .list-group-item {
    background-color: #1f1f1f;
    border-color: #2f2f2f;
  }

  html.can-touch .link-item:hover {
    /* disable hover effect when input is touch */
    background-color: #1f1f1f;
  }

  html.can-touch .link-item:active {
    /* disable hover effect when input is touch */
    background-color: #1f1f1f;
  }
/* Noční režim */
.night-mode {
  background-color: #222; /* Barva pozadí v nočním režimu */
  color: white; /* Barva textu v nočním režimu */
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: linear-gradient(to right, #667eea, #764ba2);
  color: white;
}