/* styles.css */

/* Základní styly */
body {
    background-color: #282c35;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.movie-list-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000; /* Změna barvy titulu */
}

#movieNameInput {
    padding: 5px;
    font-size: 14px;
    width: 60%;
    border: 1px solid #ccc; /* Přidáme rámec kolem pole */
    border-radius: 5px; /* Zaoblené rohy pole */
}

#searchButton {
    background-color: #000000;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px; /* Zaoblené rohy tlačítka */
    margin-left: 10px;
}

/* Seznam filmů */
.movie-list-wrapper {
    text-align: left; /* Zarovnání textu v seznamu na levou stranu */
}

.movie-list-item {
    background-color: #333; /* Trochu tmavší barva pozadí */
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px; /* Zvýšil jsem mezery mezi filmovými položkami */
    color: #ffffff;
    position: relative; /* Přidáme pozici relativní pro absolutní tlačítko */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Přidáme stín */
    min-height: 20px; /* Minimální výška položky na dvou řádcích */
    word-wrap: break-word; /* Zalomení textu na dvou řádcích */
}

.movie-list-item-title {
    font-size: 14px;
    margin-bottom: 5px; /* Snížil jsem mezery pod názvem položky */
}

.movie-list-item-button {
    position: absolute;
    bottom: 5px; /* Umístíme tlačítko na spodní část položky */
    right: 10px; /* Umístíme tlačítko na pravý dolní roh */
    background-color: #000000;
    border: none;
    color: white;
    padding: 5px 5px; /* Menší velikost tlačítka */
    font-size: 11px; /* Menší fontová velikost tlačítka */
    cursor: pointer;
    border-radius: 10px; /* Zaoblené rohy tlačítka */
}
/* style.css */

/* Styl pro <p> element */
p {
    font-size: 16px;
    color: #ffffff; /* Barva textu (černá) */
}

/* Styl pro odkaz <a> uvnitř <p> elementu */
p a {
    text-decoration: none; /* Odkazy bez podtržení */
    color: #000000; /* Barva odkazu (modrá) */
    font-weight: bold; /* Tučné písmo pro odkaz */
    transition: color 0.3s, font-size 0.3s; /* Animace pro změnu barvy textu a velikosti písma */
}

/* Styl pro odkaz <a> po najetí myší */
p a:hover {
    color: orange; /* Změna barvy na oranžovou */
    font-size: 18px; /* Zvýšení velikosti písma na 18px */
}
/* Základní styl pro .button-container */
.button-container {
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.button-container a,
.button-container button {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  background: none !important;
  border: none !important;
  padding: 0 !important;
}
.button-container a:hover,
.button-container button:hover {
  color: #aaa;
}
  /* Denní režim */
  body:not(.night-mode) .card {
    background-color: black; /* Bílé pozadí pro karty pouze v denním režimu */
    color: white; /* Bílá barva textu v nočním režimu */
    margin: 1em;
  }
  /* Noční režim */
  .night-mode .body {
    margin: 1em;
    background-color: white; /* Černé pozadí v nočním režimu */
    color: black; /* Bílá barva textu v nočním režimu */
  }
  /* Zbytek vašeho CSS kódu... */
  .header {
    background-color: #667eea;
    color: white;
  }
  .social-icon {
    color: #ff9900;
  }
  .body {
    margin-bottom: 1em;
  }
  .thumbnail {
    margin-bottom: 2em;
  }
  .list-group {
    margin-bottom: 2em;
  }
  .disable-hover {
    pointer-events: none;
  }
  .link-item {
    list-style-type: none;
    padding: 17px 15px;
    display: block;
    color: #4f89bb !important;
    text-align: left;
  }
  .link-item:hover {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
  }
  .logo-container {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .logo-container img {
    width: 100%;
    height: 100%;
  }
  html.can-touch .link-item:hover {
    /* disable hover effect when input is touch */
    background-color: #fff;
  }
  html.can-touch .link-item:active {
    /* disable hover effect when input is touch */
    background-color: #f5f5f5;
  }
  .fa {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
  /* Barva pozadí pro nadpisy karet v nočním režimu */
  @media (prefers-color-scheme: dark) {
    .card-header {
      background-color: #333; /* Barva pozadí pro nadpisy karet v nočním režimu */
    }}
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #1f1f1f;
      color: white;
    }
    .card-header {
      background-color: #2f2f2f;
    }
    body:not(.night-mode) .card {
      background-color: #fff; /* Bílé pozadí pro karty pouze v denním režimu */
    }
    /* Styly pro černé pozadí .card-body v nočním režimu */
    body.night-mode .card-body {
      background-color: #1f1f1f; /* Černé pozadí pro .card-body v nočním režimu */
    }
    .jumbotron {
      background-color: #2f2f2f;
    }
    .list-group-item {
      background-color: #1f1f1f;
      border-color: #2f2f2f;
    }
    html.can-touch .link-item:hover {
      /* disable hover effect when input is touch */
      background-color: #1f1f1f;
    }
    html.can-touch .link-item:active {
      /* disable hover effect when input is touch */
      background-color: #1f1f1f;
    }
  }
  }.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }