/* Společné styly pro .button-container */
.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .button-container a,
  .button-container button {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    background: none !important;
    border: none !important;
    padding: 0 !important;
  }
  
  .button-container a:hover,
  .button-container button:hover {
    color: #aaa;
  }
  
  /* Styly pro denní režim */
  body:not(.night-mode) {
    background-color: black;
    color: white;
  }
  
  .body {
    margin: 1em;
  }
  
  .card {
    background-color: black;
    color: white;
    margin: 1em;
  }
  
  .card-header {
    background-color: #2f2f2f;
  }
  
  .thumbnail {
    margin-bottom: 2em;
  }
  
  .list-group {
    margin-bottom: 2em;
  }
  
  .disable-hover {
    pointer-events: none;
  }
  
  .link-item {
    list-style-type: none;
    padding: 17px 15px;
    display: block;
    color: #4f89bb !important;
    text-align: left;
  }
  
  .link-item:hover {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
  }
  
  .logo-container {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .logo-container img {
    width: 100%;
    height: 100%;
  }
  
  /* Styly pro noční režim */
  .night-mode {
    background-color: #F8F8FF;
    color: #000000;
  }
  
  .night-mode .card {
    background-color: #1f1f1f;
  }
  
  .night-mode .card-body {
    background-color: #1f1f1f;
  }
  
  .jumbotron {
    background-color: #2f2f2f;
  }
  
  .list-group-item {
    background-color: #1f1f1f;
    border-color: #2f2f2f;
  }
  
  /* Styly pro nadpisy karet v nočním režimu */
  @media (prefers-color-scheme: dark) {
    .card-header {
      background-color: #333;
    }
  }
  